@import url(./menu.css);
@import url(./aside.css);
@import url(./main.css);
@import url(./mobile.css);
@import url(./tablet.css);

:root {
    --background-menu-principal:#003060;
    --color-secondary: #055C9D;
    --color-box: #0E86D4;
    --color-button: #68BBE3;
    --color-text-one: #F2F2F2;
    --color-text-two: #222222;
    
    --font: "Poppins", sans-serif;
    --regular: 400;
    --bold: 700;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    /* background: rgb(51, 78, 153); */
    display: flex;
    flex-direction: row;
}

.nav {
    display: none;
}